<div class="container-fluid container-contact">
  <div class="row">
    <div class="col-12 wrap-contact">

            <div class="add-header">
              <h2>Housing Details</h2>
            </div>
            <div class="add-details" id="first-class">
                <form class="contact-form validate-form">
                    <div class="">
                        <!-- <input class="input" type="text" name="name" placeholder="Full Name">
                        
                        <input class="input" type="text" name="email" placeholder="Email"> -->
              
                        <div class="add-question">
                          <h4>Select the Community</h4>
                        </div>

                        <select class="form-control input-fields" id="Community">
                          <option value="Avalon">Avalon</option>
                          <option value="Cavilier Court">Cavilier Court</option>
                          <option value="Circle Towers">Circle Towers</option>
                          <option value="Masonvale">Masonvale </option>
                        </select>
                        <button class="contact-form-btn">Next</button>
                    </div>
                  </form>
            </div>
            
          </div>
          
    </div>
  </div>
